@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: none;
}

#cursor-dot,
#cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
}

#cursor-dot {
  height: 10px;
  width: 10px;
  background-color: #7862f8;
}

#cursor-circle {
  width: 50px;
  height: 50px;
  border: 3px solid #7862f8;
  opacity: 70%;
}

.watermark {
  display: none;
}

@media print {
  .mainBody {
    display: none;
  }

  .watermark {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: rgb(0, 0, 0); /* Adjust the opacity as needed */
    pointer-events: none;
  }
}
