@tailwind base;
@tailwind components;
@tailwind utilities;

#move {
    position: relative;
  animation: mymove 400s infinite linear; /* Adjust the duration and other properties as needed */
}
@keyframes mymove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000%);
  }
}
