@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  cursor: none;
}

#cursor-dot,
#cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 50;
  pointer-events: none;
}

#cursor-dot {
  height: 10px;
  width: 10px;
  background-color: #7862f8;
}

#cursor-circle {
  width: 50px;
  height: 50px;
  border: 3px solid #7862f8;
  opacity: 70%;
}
/* Button Scroller */
/* 
#move {
  position: relative;
  animation: mymove 400s infinite linear;
}
@keyframes mymove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

#move1 {
  position: relative;
  animation: mymove1 6s infinite linear;
}
@keyframes mymove1 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(100%);
  }
}

#move2 {
  position: relative;
  animation: mymove2 5s infinite linear;
}
@keyframes mymove2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

 */
